body {
    background: linear-gradient(135deg, #020617, #0f172a);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.auth-box {
    background: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    backdrop-filter: blur(10px);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}